@import '../../styles/variables/index';

$selectors: (
	default,
	primary,
	secondary,
	success,
	danger,
	warning,
	info
);

$color-selectors-list: (
	default,
	primary,
	secondary,
	success,
	danger,
	warning,
	info
);
$background-colors-list: (
	#f5f5f5,
	$primary,
	$brand-white,
	$success,
	$danger,
	$warning,
	$info
);
$colors-list: (
	black,
	$brand-white,
	black,
	$brand-white,
	$brand-white,
	$brand-white,
	$brand-white
);

.panel {
  background: white;
	width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 10px;

	.panel-heading {
		background: #f5f5f5;
		color: black;
		padding: 15px;
	}

	.panel-body {
		padding: 15px;
	}

	.panel-footer {
		background: #f5f5f5;
		color: black;
		padding: 10px 15px;
  }
  
  &:last-of-type {
    margin-bottom: 0;
  }
}

@each $selector in $selectors {
	$i: index($selectors, $selector);
	.panel-#{$selector} {
		.panel-heading {
			background-color: nth($background-colors-list, $i);
			color: nth($colors-list, $i);
		}
	}
}
