$brand-blue: #20a8d8;
$brand-dark-grey: #c8ced3;
$brand-green: #4dbd74;
$brand-red: #f86c6b;
$brand-yellow: #ffc107;
$brand-light-blue: #63c2de;
$brand-grey: #eeeeee;
$brand-dark-grey: #343a40;
$brand-black: #2f353a;
$brand-purple: #6f42c1;
$brand-white: #ffffff;

$primary: #0062cc;
$secondary: #868e96;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$facebook: #3b5998;
$twitter: #00aced;
$linkedIn: #4875b4;
$flickr: #ff0084;
$tumblr: #32506d;
$xing: #026466;
$github: #4183c4;
$stackOverflow: #fe7a15;
$youtube: #b00;
$dribbble: #ea4c89;
$google: #d34836;
$instagram: #517fa4;
$pinterest: #cb2027;
$vk: #45668e;
$yahoo: #400191;
$behance: #1769ff;
$dropbox: #007ee5;
$reddit: #ff4500;
$vine: #00bf8f;
$forsquare: #1073af;
$vimeo: #aad450;
